nextflow.enable.dsl = 2

manifest {
    nextflowVersion = '>=25.04.0'
}

params.outdir = 'output'
params.studies = 'all'
params.test = false
params.skip_qc = false
params.project_dir = projectDir.toString()
params.python_image = 'pbmc-ageing-python:local'
params.r_image = 'pbmc-ageing-r:local'

process {
    errorStrategy = 'terminate'

    withName: CONVERT_RDS {
        cpus = 2
        time = '72h'
        container = params.r_image
    }
    withName: HARMONIZE {
        cpus = 2
        time = '72h'
        container = params.python_image
    }
    withName: QC_REPORT {
        cpus = 2
        time = '72h'
        container = params.python_image
    }
}

profiles {
    standard {
        process.executor = 'local'
    }
    docker {
        docker.enabled = true
    }
    test {
        params.test = true
        params.outdir = 'output/test'
        process {
            withName: HARMONIZE {
                cpus = 2
                memory = '8 GB'
                time = '2h'
            }
            withName: QC_REPORT {
                cpus = 2
                memory = '8 GB'
                time = '2h'
            }
        }
    }
}
