nextflow.enable.dsl = 2

manifest {
    nextflowVersion = '>=25.04.0'
}

params.outdir = 'output'
params.studies = 'all'
params.test = false
params.skip_qc = false
params.merge_single_cell = false
params.project_dir = projectDir.toString()
params.python_image = 'pbmc-ageing-python:dev'
params.r_image = 'pbmc-ageing-r:dev'
params.pipeline_revision = 'unknown'

process {
    errorStrategy = 'terminate'

    withName: CONVERT_RDS {
        cpus = 2
        time = '72h'
        container = params.r_image
    }
    withName: HARMONIZE {
        cpus = 2
        time = '72h'
        container = params.python_image
    }
    withName: RENDER_STUDY_QC {
        cpus = 2
        time = '72h'
        container = params.python_image
    }
    withName: PSEUDOBULK {
        cpus = 2
        time = '72h'
        container = params.python_image
    }
    withName: MERGE_PSEUDOBULKS {
        cpus = 2
        time = '72h'
        container = params.python_image
    }
    withName: MERGE_SINGLE_CELLS {
        cpus = 8
        time = '72h'
        container = params.python_image
    }
    withName: RENDER_MERGE_QC {
        cpus = 2
        time = '72h'
        container = params.python_image
    }
    withName: WRITE_RUN_MANIFEST {
        cpus = 1
        time = '1h'
        container = params.python_image
    }
}

profiles {
    standard {
        process.executor = 'local'
    }
    docker {
        docker.enabled = true
    }
    test {
        params.test = true
        params.outdir = 'output/test'
        process {
            withName: HARMONIZE {
                cpus = 2
                time = '2h'
            }
            withName: RENDER_STUDY_QC {
                cpus = 2
                time = '2h'
            }
        }
    }
    harmony_omp16_openblas1 {
        process {
            withName: MERGE_SINGLE_CELLS {
                ext.harmony_thread_environment = '''
                    export OMP_NUM_THREADS=16
                    export OPENBLAS_NUM_THREADS=1
                '''
            }
        }
    }
}
