nextflow.enable.dsl = 2

manifest {
    nextflowVersion = '>=25.04.0'
}

params.outdir = 'output'
params.studies = 'all'
params.test = false
params.skip_qc = false
params.merge_single_cell = false
params.merged_input = null
params.cell_type_input = null
params.cell_type_analysis_input = null
params.split_only = false
params.pseudobulk_input = null
params.differential_expression_manifest = null
params.de_test_mode = false
params.de_synthetic_test_data = false
params.project_dir = projectDir.toString()
params.python_image = 'pbmc-ageing-python:dev'
params.r_image = 'pbmc-ageing-r:dev'
params.pipeline_revision = 'unknown'

process {
    errorStrategy = 'terminate'
}

profiles {
    standard {
        process.executor = 'local'
    }
    docker {
        docker.enabled = true
    }
    test {
        params.test = true
        params.outdir = 'output/test'
        params.de_test_mode = true
    }
    synthetic_de_test {
        params.test = true
        params.de_test_mode = false
        params.de_synthetic_test_data = true
    }
    core {
        process {
            withName: CONVERT_RDS { container = params.r_image }
            withName: HARMONIZE { container = params.python_image }
            withName: PREPARE_CELLS { container = params.python_image }
            withName: RENDER_STUDY_QC { container = params.python_image }
            withName: PSEUDOBULK { container = params.python_image }
            withName: MERGE_PSEUDOBULKS { container = params.python_image }
            withName: MERGE_SINGLE_CELLS { container = params.python_image }
            withName: RENDER_MERGE_QC { container = params.python_image }
            withName: WRITE_RUN_MANIFEST { container = params.python_image }
        }
    }
    core_test { }
    cell_type_analysis {
        process {
            withName: SPLIT_CELL_TYPES { container = params.python_image }
            withName: ANALYSE_CELL_TYPE { container = params.python_image }
            withName: RENDER_CELL_TYPE_REPORT { container = params.python_image }
            withName: WRITE_CELL_TYPE_MANIFEST { container = params.python_image }
        }
    }
    differential_expression {
        process {
            withName: RUN_CELL_TYPE_PSEUDOBULK_DIFFERENTIAL_EXPRESSION {
                cpus = 1
                container = params.python_image
            }
            withName: LIST_PSEUDOBULK_CELL_TYPES { container = params.python_image }
            withName: WRITE_PSEUDOBULK_DIFFERENTIAL_EXPRESSION_MANIFEST { container = params.python_image }
        }
    }
}
